<!--bottom-header-->
<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="__CONTROLLER__/index.html">主页</a></li>
                <li class="active">购物车</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-ckeckout-->
<div class="ckeckout">
    <div class="container">
        <div class="ckeck-top heading">
            <h2>购物车</h2>
        </div>
        <div class="ckeckout-top">
            <div class="cart-items">
                <div class="in-check">
                    <div class="header-bottom ">
                        <!--<div class="container">
                            <div class="header">
                                <div class="col-md-12">
                                    <div class="top-nav">
                                        <ol class="nav nav-pills nav-justified">
                                            <li class="grid"><a href="__CONTROLLER__/index.html" style="color:#000;">商品</a></li>
                                            <li class="grid"><a  style="color:#000;">商品名</a></li>
                                            <li class="grid"><a  style="color:#000;">价格</a></li>
                                            <li class="grid"><a  style="color:#000;">快递</a></li>
                                            <li class="grid"><a  style="color:#000;">数量</a></li>
                                            <li class="grid"><a  style="color:#000;">编辑</a></li>
                                        </ol>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>-->


                        <!-- <ul class="cart-header">

                             <li style="width:200px;" class="ring-in"><a href="single.html"><img src="__PUBLIC__/images/c-1.jpg" class="img-responsive" alt=""></a>
                             </li>
                             <li style="width:200px;"><span >商品</span></li>
                             <li style="width:180px;"><span >$ 290.00</span></li>
                             <li style="width:180px;"><span>顺丰</span></li>
                             <li style="width:180px; height:53.8px; margin-top:30px;"><input style="width:160px;" type="number" class="form-control" id="goodsCount" name="goodsCount" placeholder="数量" required></li>
                             <li style="width:130px;margin-top:33px;"><input type="button" value="删除" /></li>
                             <div class="clearfix"></div>



                         </ul>-->
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>商品</th>
                                    <th>名称</th>
                                    <th>价格</th>
                                    <th>数量</th>
                                    <th>编辑</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="col-md-4"></div>
                                        <div href="single.html" class="thumbnail col-md-4"><img
                                                src="__PUBLIC__/images/c-1.jpg" class="img-responsive" alt=""></div>
                                        <div class="col-md-4"></div>
                                    </td>
                                    <td>Bangalore</td>
                                    <td>Tanmay</td>
                                    <td><input style="width:160px;" type="number" class="form-control" id="goodsCount"
                                               name="goodsCount" placeholder="数量"></td>
                                    <td><input type="button" value="删除"/></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end-ckeckout-->
    <!--information-starts-->
