<!--bottom-header-->
<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="__CONTROLLER__/index.html">主页</a></li>
                <li class="active">购物车</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-ckeckout-->
<div class="ckeckout">
    <div class="container">
        <div class="ckeck-top heading">
            <h2>购物车</h2>
        </div>
        <div class="ckeckout-top">
            <div class="cart-items">
                <div class="in-check">
                    <div class="header-bottom ">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <thead>
                                <tr>
                                    <th style="width:20%">
                                        <center>商品</center>
                                    </th>
                                    <th style="width:20%">
                                        <center>名称</center>
                                    </th>
                                    <th style="width:20%">
                                        <center>价格</center>
                                    </th>
                                    <th style="width:20%">
                                        <center>数量</center>
                                    </th>
                                    <th style="width:20%">
                                        <center>编辑</center>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <empty name="data">
                                    <tr>
                                        <td colspan="5" style="text-align: center">噢......购物车空空如也~~</td>
                                    </tr>
                                    <else/>
                                    <foreach name="data" item="v">
                                        <tr>
                                            <td>
                                                <div class="col-md-4"></div>
                                                <a href="__CONTROLLER__/single.html?goodsID={$v.goodsid}"
                                                   target="_blank"
                                                   class="thumbnail col-md-4" style="margin-top:30px;"><img
                                                        src="{$v.goodsphoto}"
                                                        class="img-responsive" alt=""></a>
                                                <div class="col-md-4"></div>
                                            </td>
                                            <td style="line-height:124px;">{$v.goodsname}</td>
                                            <td style="line-height:124px;">￥ {$v.goodsprice}</td>
                                            <td style="line-height:124px;">
                                                <center><input style="width:160px; margin-top:50px;" type="number"
                                                               class="form-control goodsCount" name="goodsCount"
                                                               placeholder="数量"
                                                               value="{$v.goodscount}" data-value="{$v.goodsid}" min="1" max="5"
                                                               required></center>
                                                <input type="hidden" class="currentGoodsCount" value="{$v.goodscount}"
                                                       data-value="{$v.goodsid}">
                                            </td>
                                            <!--<td><input class="btn btn-sm btn-danger btnDelCartGoods" type="button" value="删除"-->
                                            <!--data-value="{$v.goodsid}" style="margin-top:50px;" /></td>-->
                                            <td>
                                                <button class="btn btn-sm btn-danger btnDelCartGoods"
                                                        data-value="{$v.goodsid}" style="margin-top:50px;">删除
                                                </button>
                                            </td>
                                        </tr>
                                    </foreach>
                                </empty>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end-ckeckout-->
    <!--information-starts-->
    <div class="container">
        <a class="btn btn-success pull-right" style="margin-right: 5px" href="__CONTROLLER__/makeOrder.html">结算购物车</a>
        <button type="button" class="btn btn-danger pull-right" style="margin-right: 5px" data-toggle="modal"
                data-target="#clearCartDialog">清空购物车
        </button>
        <br/>
        <br/>
        <br/>
    </div>
</div>

<!-- 自定义modal提示框 -->
<div class="modal fade" id="delCartGoodsDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">删除购物车商品</h4>
            </div>
            <div class="modal-body">确定要删除该商品了吗？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btnToDelCartGoods">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 自定义modal提示框 -->
<div class="modal fade" id="clearCartDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">清空购物车</h4>
            </div>
            <div class="modal-body">确定要清空购物车吗？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btnToClearCart">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script>

<script src="__PUBLIC__/js/platform.js"></script>
<script language="JavaScript">
    var goodsID;
    $(function () {
        $(".goodsCount").change(function () {
            var goodsID = $(this).attr('data-value');
            var goodsCount = $(this).val();

            if (goodsID != '' && goodsCount != '') {
                $.post("{:U('Order/changeGoodsCount')}",
                    {
                        goodsID: goodsID,
                        goodsCount: goodsCount
                    },
                    function (data) {
                        if (data.response == 'failed') {
                            console.log('Change goods count failed!   goodsID:' + goodsID);
                            var currentCount = $(".currentGoodsCount[data-value=" + goodsID + "]").val();
                            $(".goodsCount[data-value=" + goodsID + "]").val(currentCount);
                        } else {
                            $(".currentGoodsCount[data-value=" + goodsID + "]").val(goodsCount);
                        }
                    }, 'json');
            }
        });

        $(".btnDelCartGoods").click(function () {
            goodsID = $(this).attr('data-value');
            $("#delCartGoodsDialog").modal('show');
        });

        $("#btnToDelCartGoods").click(function () {
            if (goodsID != '') {
                $.ajax({
                    url: "{:U('Order/dropCartGoods')}",
                    type: 'post',
                    data: {
                        goodsID: goodsID
                    },
                    dataType: 'json',
                    success: function (data) {
                        $("#delCartGoodsDialog").modal('hide');
                        switch (data.response) {
                            case 'success':
                                showAlertDialog('删除成功', 'reload');
                                break;
                            case 'failed':
                                showAlertDialog('抱歉，操作失败！', 'reload');
                                break;
                        }

                        $("#alertDialog").modal('show');
                    }
                })
            }
        });

        $("#btnToClearCart").click(function () {
            $.ajax({
                url: "{:U('Order/clearCart')}",
                dataType: 'json',
                success: function (data) {
                    $("#clearCartDialog").modal('hide');
                    switch (data.response) {
                        case 'success':
                            showAlertDialog('清空成功', 'reload');
                            break;
                        case 'failed':
                            showAlertDialog('抱歉，操作失败！', 'reload');
                            break;
                    }

                    $("#alertDialog").modal('show');
                }
            })
        });
    })
</script>
