<!--banner-starts-->
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <div class="banner">
                </div>
            </li>
            <li>
                <div class="banner1">
                </div>
            </li>
            <li>
                <div class="banner2">
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<!--banner-ends-->


<!--about-starts-->

<div class="about">
    <div class="container">
        <div class="about-top grid-1">
            <foreach name="top3" item="topItem">
                <div class="col-md-4 about-left">
                    <a href="__CONTROLLER__/single.html?goodsID={$topItem.gid}">
                        <figure class="effect-bubba">
                            <img class="img-responsive" src="{$topItem.gphoto}" alt="{$topItem.gname}"/>
                            <figcaption>
                                <h2>{$topItem.gname}</h2>
                                <p>{$topItem.gdescription}</p>
                                <p>￥{$topItem.gprice|default="0.00"}</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </foreach>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--about-end-->
<!--product-starts-->
<div class="product">
    <div class="container">
        <div class="product-top">
            <for start="0" end="$rowCount" name="row">
                <div class="product-one">
                    <for start="0" end="4">
                        <assign name="goodsID" value="$list[$i+($row*4)]['gid']"/>
                        <notempty name="goodsID">
                            <div class="col-md-3 product-left">
                                <div class="product-main simpleCart_shelfItem">
                                    <a href="__CONTROLLER__/single.html?goodsID={$goodsID}" class="mask"><img
                                            class="img-responsive zoom-img" width="230"
                                            height="230"
                                            src="{$list[$i+($row*4)]['gphoto']}"
                                            alt="{$list[$i+($row*4)]['gname']}"/></a>
                                    <div class="product-bottom">
                                        <h3>{$list[$i+($row*4)]['gname']}</h3>
                                        <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">￥ {$list[$i+($row*4)]['gprice']|default="0.00"}</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </notempty>
                    </for>
                </div>
            </for>
        </div>
    </div>
</div>
<!--product-end-->
<!--information-starts-->