<!--banner-starts-->
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <div class="banner">
                </div>
            </li>
            <li>
                <div class="banner1">
                </div>
            </li>
            <li>
                <div class="banner2">
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<!--banner-ends-->


<!--about-starts-->

<div class="about">
    <div class="container">
        <div class="about-top grid-1">
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="__PUBLIC__/images/abt-1.jpg" alt=""/>
                    <figcaption>
                        <h2>金色梦乡</h2>
                        <p>一部奇迹般的小说，带给人活下去的勇气、希望和信心！</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="__PUBLIC__/images/abt-2.jpg" alt=""/>
                    <figcaption>
                        <h4>人间失格</h4>
                        <p>太宰治灵魂深处无助的生命绝唱，同时也是村上春树绝望凄美的灵感源泉。</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="__PUBLIC__/images/abt-3.jpg" alt=""/>
                    <figcaption>
                        <h4>忒休斯之船</h4>
                        <p>颠覆阅读体验！挑战纸书可能性的极致冒险。亦作忒休斯之船。</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--about-end-->
<!--product-starts-->
<div class="product">
    <div class="container">
        <div class="product-top">
            <div class="product-one">
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img"
                                                                src="__PUBLIC__/images/p-1.png" alt=""/></a>
                        <div class="product-bottom">
                            <h3>中国异闻录</h3>
                            <p>半价热售中</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 233</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img"
                                                                src="__PUBLIC__/images/p-2.png" alt=""/></a>
                        <div class="product-bottom">
                            <h3>韩国异闻录</h3>
                            <p>半价热售中</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 233</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img"
                                                                src="__PUBLIC__/images/p-3.png" alt=""/></a>
                        <div class="product-bottom">
                            <h3>印度异闻录</h3>
                            <p>半价热售中</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 233</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img"
                                                                src="__PUBLIC__/images/p-4.png" alt=""/></a>
                        <div class="product-bottom">
                            <h3>日本异闻录</h3>
                            <p>半价热售中</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 233</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="product-one">
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img"
                                                                src="__PUBLIC__/images/p-5.png" alt=""/></a>
                        <div class="product-bottom">
                            <h3>泰国异闻录</h3>
                            <p>半价热售中</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 233</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img"
                                                                src="__PUBLIC__/images/p-6.png" alt=""/></a>
                        <div class="product-bottom">
                            <h3>十宗罪（一）</h3>
                            <p>半价热售中</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 233</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img"
                                                                src="__PUBLIC__/images/p-7.png" alt=""/></a>
                        <div class="product-bottom">
                            <h3>十宗罪（二）</h3>
                            <p>半价热售中</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 233</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img"
                                                                src="__PUBLIC__/images/p-8.png" alt=""/></a>
                        <div class="product-bottom">
                            <h3>十宗罪（三）</h3>
                            <p>半价热售中</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 233</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--product-end-->
<!--information-starts-->

<!--End-slider-script-->
</body>
</html>