<!--bottom-header-->
<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="__CONTROLLER__/index.html">主页</a></li>
                <li class="active">登陆页面</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--register-starts-->
<div class="login">
    <div class="account">
        <div class="container">
            <div class="account-top heading">
                <h2>用户登陆</h2>
            </div>
            <div class="account-main">
                <div class="col-md-6 account-left">
                    <h3>已注册用户</h3>
                    <div class="account-bottom">
                        <input id="usrName" placeholder="账号" type="text" tabindex="3" required>
                        <input id="usrPasswd" placeholder="密码" type="password" tabindex="4" required>
                        <div class="address">
                            <a class="forgot" href="#">忘记密码？</a>
                            <input type="submit" id="pageBtnToLogin" value="登录">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 account-right account-left">
                    <h3>新用户？创建账号</h3>
                    <p>可以使用手机号注册，也可以使用邮箱注册，选择手机号注册，您需要输入您的手机号码，根据页面提示完成注册；选择邮箱注册，您需要输入您的邮箱地址，根据页面提示完成注册；</p>
                    <a href="__CONTROLLER__/register.html">注册账号</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--register-end-->
<!--information-starts-->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script language="JavaScript">
    $(function () {
        $("#pageBtnToLogin").click(function () {
            var usrName = $("#usrName").val();
            var usrPasswd = $("#usrPasswd").val();

            if (usrName != '' && usrPasswd != '') {
                $.ajax({
                    url: "{:U('User/login')}",
                    type: 'post',
                    data: {
                        usrName: usrName,
                        usrPasswd: usrPasswd
                    },
                    dataType: 'text',
                    success: function (data) {
                        if (data == 'true') {
                            window.location.href = "{:U('index')}";
                        } else {
                            alert('用户名或密码错误！');
                        }
                    }
                })
            } else {
                alert('请输入用户名和密码！');
            }
        });
    })
</script>