<!--bottom-header-->
<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="__CONTROLLER__/index.html">主页</a></li>
                <li class="active">结算页面</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-ckeckout-->
<div class="ckeckout">
    <div class="container">
        <div class="ckeck-top heading">
            <h2>确认订单信息</h2>
        </div>
        <p>收货人姓名<input id="orderCName" placeholder="收货人姓名" type="text" required>
        <p>联系电话<input id="orderPhone" placeholder="联系电话" type="text" required>
        <p>收货地址<input id="orderAddress" placeholder="收货地址" type="text" tabindex="3" required style="width:40%;"></p>


        <div class="ckeckout-top">
            <div class="cart-items">
                <div class="in-check">
                    <div class="header-bottom ">
                        <p>确认订单信息</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>商品</th>
                                    <th>名称</th>
                                    <th>价格</th>
                                    <th>数量</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="data" item="v">
                                    <tr>
                                        <td>
                                            <div class="col-md-4"></div>
                                            <a href="__CONTROLLER__/single.html?goodsID={$v.goodsid}"
                                               target="_blank"
                                               class="thumbnail col-md-4"><img src="{$v.goodsphoto}"
                                                                               class="img-responsive" alt=""></a>
                                            <div class="col-md-4"></div>
                                        </td>
                                        <td>{$v.goodsname}</td>
                                        <td>￥ {$v.goodsprice}</td>
                                        <td><input style="width:160px;" type="number"
                                                   class="form-control"
                                                   placeholder="数量"
                                                   value="{$v.goodscount}"
                                                   readonly>
                                        </td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-group form-inline pull-right">
            <label for="textSumPrice">总价：</label>
            <input type="text" class="form-control" id="textSumPrice" value="￥ {$sumPrice}" readonly/>
        </div>

    </div>
    <br/>
    <div class="container">
        <button type="button" class="btn btn-danger pull-right" id="btnToMakeOrder">提交订单</button>
        <a class="btn btn-link pull-right" href="__CONTROLLER__/cart.html">←返回购物车</a>
        <br/>
        <br/>
        <br/>
    </div>
    <!--end-ckeckout-->
    <!--information-starts-->
</div>

<input type="hidden" id="orderRealSumPrice" value="{$sumPrice}">
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/layer.js"></script>
<script language="JavaScript">
    $(function () {
        $("#btnToMakeOrder").click(function () {
            var orderCName = $("#orderCName").val();
            var orderPhone = $("#orderPhone").val();
            var orderAddress = $("#orderAddress").val();
            var orderSumPrice = $("#orderRealSumPrice").val();

            if (orderCName != '' && orderPhone != '' && orderAddress != '' && orderSumPrice != '') {
                $.ajax({
                    beforeSend: function () {
                        layer.load(2);
                    },
                    url: "{:U('Order/placeOrder')}",
                    type: 'post',
                    data: {
                        orderCName: orderCName,
                        orderPhone: orderPhone,
                        orderAddress: orderAddress,
                        orderSumPrice: orderSumPrice
                    },
                    dataType: 'json',
                    success: function (data) {
                        layer.closeAll('loading');
                        switch (data.response) {
                            case 'success':
                                window.location.href = "{:U('payOrder')}";
                                break;
                            case 'failed':
                                $("#alertDialogMain").empty().append("抱歉，操作失败！");
                                $("#alertDialog").modal('show');
                                break;
                        }
                    }
                })
            } else {
                $("#alertDialogMain").empty().append("订单收货信息请填写完整！");
                $("#alertDialog").modal('show');
            }
        })
    })
</script>