<!--bottom-header-->
<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="__CONTROLLER__/index.html">主页</a></li>
                <li class="active">结算页面</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-ckeckout-->
<div class="ckeckout">
    <div class="container">
        <div class="ckeck-top heading">
            <h2>确认订单信息</h2>
        </div>
        <div class="container">
            <div class="form-group form-inline">
                <div class="row">
                    <div class="col-md-4">
                        <label for="orderCName">收货人姓名：</label>
                        <input type="text" class="form-control" id="orderCName" required/>
                    </div>
                    <div class="col-md-4">
                        <label for="orderPhone">联系人电话：</label>
                        <input type="text" class="form-control" id="orderPhone" required/>
                    </div>
                    <div class="col-md-4">
                        <label for="orderAddress">收货人地址：</label>
                        <input type="text" class="form-control" id="orderAddress" style="width:260px;" required/>
                    </div>
                </div>
            </div>
        </div>

        <div class="ckeckout-top">
            <div class="cart-items">
                <div class="in-check">
                    <div class="header-bottom ">
                        <p>确认订单信息</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width:25%">商品</th>
                                    <th style="width:25%">名称</th>
                                    <th style="width:25%">价格</th>
                                    <th style="width:25%">数量</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="data" item="v">
                                    <tr>
                                        <td style="line-height:124px;">
                                            <div class="col-md-4"></div>
                                            <a href="__CONTROLLER__/single.html?goodsID={$v.goodsid}"
                                               target="_blank"
                                               class="thumbnail col-md-4" style="margin-top:30px;"><img
                                                    src="{$v.goodsphoto}"
                                                    class="img-responsive" alt=""></a>
                                            <div class="col-md-4"></div>
                                        </td>
                                        <td style="line-height:124px;">{$v.goodsname}</td>
                                        <td style="line-height:124px;">￥ {$v.goodsprice}</td>
                                        <td>
                                            <center><input style="width:160px; margin-top:50px;" type="number"
                                                           class="form-control"
                                                           placeholder="数量"
                                                           value="{$v.goodscount}"
                                                           readonly></center>
                                        </td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-group form-inline pull-right">
            <label for="textSumPrice">总价：</label>
            <input type="text" class="form-control" id="textSumPrice" value="￥ {$sumPrice}" readonly/>
        </div>

    </div>
    <br/>
    <div class="container">
        <button type="button" class="btn btn-success pull-right" id="btnToMakeOrder">提交订单</button>
        <a class="btn btn-link pull-right" href="__CONTROLLER__/cart.html">←返回购物车</a>
        <br/>
        <br/>
        <br/>
    </div>
    <!--end-ckeckout-->
    <!--information-starts-->
</div>

<input type="hidden" id="orderRealSumPrice" value="{$sumPrice}">
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/layer.js"></script>

<script src="__PUBLIC__/js/platform.js"></script>
<script language="JavaScript">
    $(function () {
        $("#btnToMakeOrder").click(function () {
            var orderCName = $("#orderCName").val();
            var orderPhone = $("#orderPhone").val();
            var orderAddress = $("#orderAddress").val();
            var orderSumPrice = $("#orderRealSumPrice").val();

            if (orderCName != '' && orderPhone != '' && orderAddress != '' && orderSumPrice != '') {
                $.ajax({
                    beforeSend: function () {
                        layer.load(2);
                    },
                    url: "{:U('Order/placeOrder')}",
                    type: 'post',
                    data: {
                        orderCName: orderCName,
                        orderPhone: orderPhone,
                        orderAddress: orderAddress,
                        orderSumPrice: orderSumPrice
                    },
                    dataType: 'json',
                    success: function (data) {
                        layer.closeAll('loading');
                        switch (data.response) {
                            case 'success':
                                window.location.href = "{:U('payOrder')}";
                                break;
                            case 'failed':
                                showAlertDialog('抱歉，操作失败！');
                                break;
                        }
                    }
                })
            } else {
                showAlertDialog('订单收货信息请填写完整！');
            }
        })
    })
</script>