<div style="width:100%; height:200px;">
    <p>
    <center style="font-size:50px;">支付成功!</center>
    <br></p>
    <a href="index.php">
        <center>
            <input type="button" value="点此返回" style="  color: #faddde;
border: solid 1px #980c10; 
background: #d81b21; 
background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317)); 
background: -moz-linear-gradient(top, #ed1c24, #aa1317); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317'" );>
        </center>
    </a>
</div>