<!--bottom-header-->
<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">注册页面</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--register-starts-->
<div class="register">
    <div class="container">
        <div class="register-top heading">
            <h2><strong>用户注册</strong></h2>
        </div>
        <div class="register-main">
            <div class="col-md-6 account-left">
                <input placeholder="请输入用户名" type="text" tabindex="1" required>
                <input placeholder="请再次输入" type="text" tabindex="2" required>
                <input placeholder="邮箱地址" type="text" tabindex="3" required>
                <input placeholder="手机号码" type="text" tabindex="3" required>
                <ul>
                    <li><label class="radio left"><input type="radio" name="radio" checked=""><i></i>男</label></li>
                    <li><label class="radio"><input type="radio" name="radio"><i></i>女</label></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="col-md-6 account-left">
                <input placeholder="请输入密码" type="password" tabindex="4" required>
                <input placeholder="请再次输入" type="password" tabindex="4" required>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="address submit">

            <input type="submit" value="确认注册">

        </div>
    </div>

</div>

<!--register-end-->
<!--information-starts-->

</body>
</html>