<!--bottom-header-->
<!--start-breadcrumbs-->
<link rel="stylesheet" href="__PUBLIC__/css/flexslider.css" type="text/css" media="screen"/>
<assign name="goodsID" value="$data['gid']"/>
<assign name="goodsName" value="$data['gname']"/>

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">主页</a></li>
                <li class="active">{$goodsName}</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-single-->
<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-9 single-main-left">
                <div class="sngl-top">
                    <div class="col-md-5 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="{$data['gphoto']}">
                                    <div class="thumb-image"><img src="{$data['gphoto']}" data-imagezoom="true"
                                                                  class="img-responsive" alt=""/></div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="single-para simpleCart_shelfItem">
                            <h2>{$goodsName}</h2>
                            <div class="star-on">
                                <ul class="star-footer">
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                </ul>
                                <div class="review">
                                    <a href="#"> 1 位顾客评价</a>

                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <h5 class="item_price">￥ {$data['gprice']}</h5>
                            <p></p>
                            <div class="available">
                                <ul>
                                    <li>数量
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                            <ul class="tag-men">
                                <li><span>分类</span>
                                    <span class="women1">: {$data['goodstypename']}</span></li>
                            </ul>
                            <a href="#" class="add-cart item_add">添加到购物车</a>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="tabs">
                    <ul class="menu_drop">
                        <li class="item1"><a><img src="__PUBLIC__/images/arrow.png" alt="">商品详情</a>
                            <ul>
                                <li class="subitem1">
                                    <a>{$data['gdescription']}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item2"><a><img src="__PUBLIC__/images/arrow.png" alt="">其他信息</a>
                            <ul>
                                <li class="subitem2"><a>商品上架时间：{$data['gpubtime']}</a></li>
                                <li class="subitem3"><a>商家：{$data['shopname']}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="latestproducts">
                    <div class="product-one">
                        <for start="0" end="3">
                            <div class="col-md-4 product-left p-left">
                                <div class="product-main simpleCart_shelfItem">
                                    <a href="__CONTROLLER__/single.html?goodsID={$latest[$i]['gid']}" class="mask"><img
                                            class="img-responsive zoom-img" src="{$latest[$i]['gphoto']}"
                                            alt="{$latest[$i]['gname']}" width="350" height="350"/></a>
                                    <div class="product-bottom">
                                        <h3>{$latest[$i]['gname']}</h3>
                                        <p>最新上架</p>
                                        <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">￥ {$latest[$i]['gprice']|default="0.00"}</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </for>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 single-right">
                <for start="0" end="2">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html?goodsID={$top3[$i]['gid']}" class="mask"><img
                                class="img-responsive zoom-img" width="350" height="350" src="{$top3[$i]['gphoto']}"
                                alt="{$top3[$i]['gname']}"/></a>
                        <div class="product-bottom">
                            <h3>{$top3[$i]['gname']}</h3>
                            <p>近期热卖</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">￥ {$top3[$i]['gprice']}</span>
                            </h4>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                </for>
            </div>
        </div>
    </div>
    <br/>
<!--end-single-->
<!--information-starts-->

<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- FlexSlider -->
<script src="__PUBLIC__/js/imagezoom.js"></script>
<script defer src="__PUBLIC__/js/jquery.flexslider.js"></script>

<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>
	