<!--bottom-header-->
<!--start-breadcrumbs-->
<link rel="stylesheet" href="__PUBLIC__/css/flexslider.css" type="text/css" media="screen"/>
<assign name="goodsID" value="$data['gid']"/>
<assign name="goodsName" value="$data['gname']"/>

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">主页</a></li>
                <li class="active">{$goodsName}</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-single-->
<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-9 single-main-left">
                <div class="sngl-top">
                    <div class="col-md-5 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="{$data['gphoto']}">
                                    <div class="thumb-image"><img src="{$data['gphoto']}" data-imagezoom="true"
                                                                  class="img-responsive" alt=""/></div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="single-para simpleCart_shelfItem">
                            <h2>{$goodsName}</h2>
                            <div class="star-on">
                                <ul class="star-footer">
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                </ul>
                                <div class="review">
                                    <a href="#"> 1 位顾客评价</a>

                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <h5 class="item_price">￥ {$data['gprice']}</h5>
                            <p></p>
                            <div class="available">
                                <ul>
                                    <li>快递
                                        <select>
                                            <option>顺丰</option>
                                            <option>中通</option>
                                            <option>圆通</option>
                                            <option>申通</option>
                                            <option>EMS</option>
                                        </select>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                            <ul class="tag-men">
                                <li><span>分类</span>
                                    <span class="women1">: {$data['goodstypename']}</span></li>
                            </ul>
                            <a href="#" class="add-cart item_add">添加到购物车</a>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="tabs">
                    <ul class="menu_drop">
                        <li class="item1"><a><img src="__PUBLIC__/images/arrow.png" alt="">商品详情</a>
                            <ul>
                                <li class="subitem1">
                                    <a>{$data['gdescription']}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item2"><a><img src="__PUBLIC__/images/arrow.png" alt="">其他信息</a>
                            <ul>
                                <li class="subitem2"><a>商品上架时间：{$data['gpubtime']}</a></li>
                                <li class="subitem3"><a>商家：{$data['shopname']}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="latestproducts">
                    <div class="product-one">
                        <foreach name="top3" item="topItem">
                            <div class="col-md-4 product-left p-left">
                                <div class="product-main simpleCart_shelfItem">
                                    <a href="__CONTROLLER__/single.html?goodsID={$topItem['gid']}" class="mask"><img
                                            class="img-responsive zoom-img" src="{$topItem.gphoto}"
                                            alt="{$topItem.gname}" width="350" height="350"/></a>
                                    <div class="product-bottom">
                                        <h3>{$topItem.gname}</h3>
                                        <p>近期热卖</p>
                                        <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">￥ {$topItem.gprice|default="0.00"}</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </foreach>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 single-right">
                <div class="w_sidebar">
                    <section class="sky-form">
                        <h4>Catogories</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>All
                                    Accessories</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Women
                                    Watches</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Kids
                                    Watches</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Men
                                    Watches</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>Brand</h4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>kurtas</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sonata</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Titan</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Casio</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Omax</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Fastrack</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sports</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Fossil</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Maxima</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Yepme</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Citizen</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Diesel</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>Colour</h4>
                        <ul class="w_nav2">
                            <li><a class="color1" href="#"></a></li>
                            <li><a class="color2" href="#"></a></li>
                            <li><a class="color3" href="#"></a></li>
                            <li><a class="color4" href="#"></a></li>
                            <li><a class="color5" href="#"></a></li>
                            <li><a class="color6" href="#"></a></li>
                            <li><a class="color7" href="#"></a></li>
                            <li><a class="color8" href="#"></a></li>
                            <li><a class="color9" href="#"></a></li>
                            <li><a class="color10" href="#"></a></li>
                            <li><a class="color12" href="#"></a></li>
                            <li><a class="color13" href="#"></a></li>
                            <li><a class="color14" href="#"></a></li>
                            <li><a class="color15" href="#"></a></li>
                            <li><a class="color5" href="#"></a></li>
                            <li><a class="color6" href="#"></a></li>
                            <li><a class="color7" href="#"></a></li>
                            <li><a class="color8" href="#"></a></li>
                            <li><a class="color9" href="#"></a></li>
                            <li><a class="color10" href="#"></a></li>
                        </ul>
                    </section>
                    <section class="sky-form">
                        <h4>discount</h4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % and
                                    above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
                            </div>
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end-single-->
<!--information-starts-->

<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- FlexSlider -->
<script src="__PUBLIC__/js/imagezoom.js"></script>
<script defer src="__PUBLIC__/js/jquery.flexslider.js"></script>

<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>
	