<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="span6">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="javascript:void(0)">
                        <center>我的订单</center>
                    </a></li>
                    <li><a href="javascript:void(0)">
                        <center>个人信息</center>
                    </a></li>
                    <li><a href="javascript:void(0)">
                        <center>收货地址</center>
                    </a></li>
                    <li><a href="javascript:void(0)">
                        <center>安全设置</center>
                    </a></li>
                    <li><a href="javascript:void(0)">
                        <center>隐私设置</center>
                    </a></li>
                    <li><a href="javascript:void(0)">
                        <center>绑定设置</center>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th style="width:20%">
                            <center>订单号</center>
                        </th>
                        <th style="width:20%">
                            <center>商品</center>
                        </th>
                        <th style="width:20%">
                            <center>名称</center>
                        </th>
                        <th style="width:20%">
                            <center>价格</center>
                        </th>
                        <th style="width:20%">
                            <center>操作</center>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="orderData" item="v">
                        <assign name="orderID" value="$v.orderid"/>
                        <tr>
                            <td style="line-height:100px;">
                                <center>{$orderID}</center>
                            </td>
                            <td>
                                <center>
                                    <div class="thumbnail" style="width:100px;margin-top:10px;">
                                        <img src="{$v.ordergoodsimg}">
                                    </div>
                                </center>
                            </td>
                            <td style="line-height:100px;">
                                <center>{$v.ordergoodsname}</center>
                            </td>
                            <td style="line-height:100px;">
                                <center>￥ {$v.ordersumprice}</center>
                            </td>
                            <td>
                                <if condition="$v.orderstatus eq 2 ">
                                    <center><a href="javascript:void(0)" class="btn btn-sm btn-success"
                                               style="margin-top:15px;">确认收货</a></center>
                                    <elseif condition="($v.orderstatus eq 1) AND ($v.orderpaid eq 0)"/>
                                    <center><a href="{:U('Index/payOrder',array('orderID'=>$orderID))}"
                                               class="btn btn-sm btn-warning"
                                               style="margin-top:15px;" target="_blank">支付订单</a></center>
                                </if>
                                <center><a href="javascript:void(0)" class="btn btn-sm btn-primary"
                                           style="margin-top:15px;">订单详情</a></center>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
