<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <title>迷之魔法书店</title>
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="__PUBLIC__/css/homeStyle.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="__PUBLIC__/css/memenu.css" rel="stylesheet" type="text/css" media="all"/>


</head>

<body>
<!--top-header-->
<!--top-header-->
<div class="navbar navbar-inverse" style=" padding-bottom:0px;">
    <div class="navbar-header">
        <a class="navbar-brand" href="__CONTROLLER__/index">
            <strong>
                迷之魔法书店
            </strong>
        </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <notpresent name="Think.session.user">
            <notpresent name="isAccountPage">
                <li><a class="navbar-link glyphicon glyphicon-user" href="__CONTROLLER__/register.html">&nbsp;注册</a>
                </li>
                <li><a class="navbar-link glyphicon glyphicon-log-in" href="#" data-toggle="modal"
                       data-target="#loginDialog">&nbsp;登录&nbsp;</a></li>
            </notpresent>
            <else/>
            <li><a class="navbar-link glyphicon glyphicon-cart" href="__CONTROLLER__/cart.html">&nbsp;购物车</a></li>
            <li><a class="navbar-link glyphicon glyphicon-user" href="javascript:void(0)">&nbsp;{$Think.session.user.usrName}</a>
            </li>
            <li><a class="navbar-link glyphicon glyphicon-log-out" href="#" id="btnLogout">&nbsp;登出&nbsp;</a></li>
        </notpresent>
    </ul>
</div>

<!--start-logo-->
<div class="logo">
    <a href="__CONTROLLER__/index.html"><img src="__PUBLIC__/images/233.jpg" style="height:110px; padding:0; margin:0;"></a>
</div>
<!--start-logo-->
<!--bottom-header-->
<notpresent name="noNavTab">
    <div class="header-bottom">
    <div class="container">
        <div class="header">
            <div class="col-md-10">
                <div class="top-nav">
                    <ol class="nav nav-pills nav-justified">
                        <li class="grid"><a href="__CONTROLLER__/index.html" style="color:#000;">主页</a></li>
                        <li class="grid"><a href="__CONTROLLER__/products.html?type=1" style="color:#000;">外国</a></li>
                        <li class="grid"><a href="__CONTROLLER__/products.html?type=2" style="color:#000;">科幻</a></li>
                        <li class="grid"><a href="__CONTROLLER__/products.html?type=3" style="color:#000;">侦探</a></li>
                        <li class="grid"><a href="__CONTROLLER__/products.html?type=4" style="color:#000;">恐怖</a></li>
                        <li class="grid"><a href="__CONTROLLER__/products.html?type=5" style="color:#000;">历史</a></li>
                    </ol>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-2 header-right">
                <div class="search-bar">
                    <form action="__CONTROLLER__/search.html">
                        <input type="text" name="searchKey" placeholder="搜索">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</notpresent>
<!--bottom-header-->

{__CONTENT__}

<!--information-starts-->
<div class="information">
    <div class="container">
        <div class="infor-top">
            <div class="col-md-3 infor-left">
                <h3><strong>分享我们</strong></h3>
                <ul>
                    <li><a href="#"><span class="fb"></span><h6>新浪微博</h6></a></li>
                    <li><a href="#"><span class="twit"></span><h6>腾讯QQ</h6></a></li>
                    <li><a href="#"><span class="google"></span><h6>微信</h6></a></li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3><strong>支付方式</strong></h3>
                <ul>
                    <li><a href="#"><p>货到付款</p></a></li>
                    <li><a href="#"><p>网上支付</p></a></li>
                    <li><a href="#"><p>礼品卡支付</p></a></li>
                    <li><a href="#"><p>银行转账</p></a></li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3><strong>配送方式</strong></h3>
                <ul>
                    <li><a href="account.html"><p>配送范围及免邮标准</p></a></li>
                    <li><a href="#"><p>当日递/次日达</p></a></li>
                    <li><a href="#"><p>订单自提</p></a></li>
                    <li><a href="#"><p>验货与签收</p></a></li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3><strong>退换货</strong></h3>
                <ul>
                    <li><a href="account.html"><p>退换货政策</p></a></li>
                    <li><a href="#"><p>自助申请退换货</p></a></li>
                    <li><a href="#"><p>退换货进度查询</p></a></li>
                    <li><a href="#"><p>退款方式和时间</p></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--information-end-->

<!--footer-starts-->
<div class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="col-md-12 footer-right">
                <p>Copyright &copy; Miss Peregrine's Store 2006-2016, All rights reserved.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- 自定义modal提示框 -->
<div class="modal fade" id="loginDialog" tabindex="-1" role="dialog" aria-labelledby="loginDialogTitle"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="loginDialogTitle">登录</h4>
            </div>
            <div class="modal-body" id="loginDialogMain">
                <div class="form-group">
                    <label for="loginUsrName">用户名</label>
                    <input type="text" class="form-control" name="loginUsrName" id="loginUsrName" placeholder="用户名">
                </div>
                <div class="form-group">
                    <label for="loginUsrPasswd">密码</label>
                    <input type="password" class="form-control" name="loginUsrPasswd" id="loginUsrPasswd"
                           placeholder="密码">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <a class="btn btn-primary" href="__CONTROLLER__/register.html">注册</a>
                <button type="button" class="btn btn-success" id="btnToLogin">登录</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 自定义modal提示框 -->
<div class="modal fade" id="alertDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body" id="alertDialogMain"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnReload">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--End-slider-script-->
</body>

<!--footer-end-->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<!--Slider-Starts-Here-->
<script src="__PUBLIC__/js/responsiveslides.min.js"></script>
<!--start-menu-->
<script src="__PUBLIC__/js/simpleCart.min.js"></script>
<script src="__PUBLIC__/js/memenu.js"></script>
<!--dropdown-->
<script src="__PUBLIC__/js/jquery.easydropdown.js"></script>

<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 1000,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

        $("#btnToLogin").click(function () {
            var usrName = $("#loginUsrName").val();
            var usrPasswd = $("#loginUsrPasswd").val();

            if (usrName != '' && usrPasswd != '') {
                $.ajax({
                    url: "{:U('User/login')}",
                    type: 'post',
                    data: {
                        usrName: usrName,
                        usrPasswd: usrPasswd
                    },
                    dataType: 'text',
                    success: function (data) {
                        if (data == 'true') {
                            $("#loginDialog").modal('hide');
                            $("#alertDialogMain").empty().append("登录成功！");
                            $("#btnReload").prop('value', 'reload');
                        } else {
                            $("#alertDialogMain").empty().append("用户名或密码错误！");
                        }
                    }
                });
            } else {
                $("#alertDialogMain").empty().append("请输入用户名和密码！");
            }
            $("#alertDialog").modal('show');
        });

        $("#btnLogout").click(function () {
            $.getJSON("{:U('User/logout')}", function (data) {
                if (data.resopnse == 'true') {
                    $("#alertDialogMain").empty().append("登出成功！");
                    $("#btnReload").prop('value', 'home');
                    $("#alertDialog").modal('show')
                }
            });
        });

        $("#btnReload").click(function () {
            switch ($(this).prop('value')) {
                case 'reload':
                    window.location.reload();
                    break;
                case 'login':
                    $("#loginDialog").modal('show');
                    break;
                case 'home':
                    window.location.href = "{:U('index')}";
                    break;
            }

            $("#alertDialog").modal('hide');
            $(this).prop('value', '');
        })
    });
</script>
</html>
